<!DOCTYPE html>
<html lang="ja">
<head>
<!--
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□■■□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□■■□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□
■□□□□■□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□
■□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□
■□□□□□□□□■■■□□■■■□□□■■■□■□□■■■■■■□□□□□■■■■□□□■■□■■■□□□
□■■□□□□□□□■□□□□■□□□■□□□■■□□□□■□□□□□□□■□□□□■□□□■■□□□■□□
□□□■■□□□□□□■□□□■□□□■□□□□■□□□□■□□□□□□□□□□□□■□□□■□□□□■□□
□□□□□■□□□□□■□□■□□□□■□□□□□□□□□■□□□□□□□□■■■■■□□□■□□□□■□□
■□□□□□■□□□□□■□■□□□□□■■■■□□□□□■□□□□□□□■□□□□■□□□■□□□□■□□
■□□□□□■□□□□□□■□□□□□□□□□□■□□□□■□□□□□□■□□□□□■□□□■□□□□■□□
■□□□□□■□□□□□□■□□□□■□□□□□■□□□□■□□□■□□■□□□□□■□□□■□□□□■□□
■■□□□■□□□□□□■□□□□□■■□□□□■□□□□■□□□■□□■□□□□■■□□□■□□□□■□□
■□■■■□□□□■□□■□□□□□■□■■■■□□□□□□■■■□□□□■■■■□■■□■■■□□■■■□
□□□□□□□□□■□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□

□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□■■■□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□□□□□□□□■■□□□□□□□□□□□□□□□□
□■□□□■■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□
□■□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□
■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□
■□□□□□□□□■■■□■■□□□□□■■■□□□□□□■■■■□□□■■■■■■□□□□□■■■□□□□□□■■■■□□□□□□□□□□□□□■■■■□□□□■■■□□■■■□
■□□□□□□□□□□■■□□■□□□■□□□■□□□□■□□□□■□□□□■□□□□□□□■□□□■□□□□■□□□■□□□□□□□□□□□□□■□□□■□□□□■□□□□■□□
■□□□□□□□□□□■□□□■□□■□□□□□■□□□□□□□□■□□□□■□□□□□□■□□□□□■□□■□□□□■□□□□□□□□□□□□□■□□□□■□□□□■□□□■□□
■□□□□□□□□□□■□□□□□□■■■■■■■□□□□■■■■■□□□□■□□□□□□■■■■■■■□□■□□□□■□□□□□□□□□□□□□■□□□□■□□□□■□□■□□□
■□□□□□□□□□□■□□□□□□■□□□□□□□□□■□□□□■□□□□■□□□□□□■□□□□□□□□■□□□□■□□□□□□□□□□□□□■□□□□■□□□□□■□■□□□
■□□□□□■□□□□■□□□□□□■□□□□□□□□■□□□□□■□□□□■□□□□□□■□□□□□□□□■□□□□■□□□□□□□□□□□□□■□□□□■□□□□□□■□□□□
□■□□□□■□□□□■□□□□□□■□□□□□■□□■□□□□□■□□□□■□□□■□□■□□□□□■□□■□□□□■□□□□□□□□□□□□□■□□□□■□□□□□□■□□□□
□■□□□□■□□□□■□□□□□□□■□□□□■□□■□□□□■■□□□□■□□□■□□□■□□□□■□□□■□□□■□□□□□□□□□□□□□■□□□■□□□□□□■□□□□□
□□■■■■□□□■■■■■■□□□□□■■■■□□□□■■■■□■■□□□□■■■□□□□□■■■■□□□□□■■■■■□□□□□□□□□□□□■■■■□□□□■□□■□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□■□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□
■■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□
□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□□□■□□□□□□□□□□□■□□■□□■□□□□■■■■□□□■■■□■■□□□□□■■■■□□□□□■■■□■■□□□■■■■□□□□■■■■□□□□
□■□□□■□□□□□□□□□□□□■□□■□□■□□□■□□□□■□□□□■■□□■□□□■□□□□■□□□■□□□■□□□□■□□□□■□□□□□□■□□□□
□■□□■□□□□■■■■■■■□□■□□■□□■□□□□□□□□■□□□□■□□□■□□□□□□□□■□□□■□□□■□□□□□□□□□■□□□□□□■□□□□
□■□■■□□□□□□□□□□□□□■□□■□□■□□□□■■■■■□□□□■□□□□□□□□■■■■■□□□■□□□■□□□□□■■■■■□□□□□□■□□□□
□■■□□■□□□□□□□□□□□□■□■□■□■□□□■□□□□■□□□□■□□□□□□□■□□□□■□□□□■■■□□□□□■□□□□■□□□□□□■□□□□
□■□□□■□□□□□□□□□□□□■□■□■□■□□■□□□□□■□□□□■□□□□□□■□□□□□■□□□■□□□□□□□■□□□□□■□□□□□□■□□□□
□■□□□□■□□□□□□□□□□□□■□□□■□□□■□□□□□■□□□□■□□□□□□■□□□□□■□□□■■■■□□□□■□□□□□■□□□□□□■□□□□
□■□□□□■□□□□□□□□□□□□■□□□■□□□■□□□□■■□□□□■□□□□□□■□□□□■■□□■□□□□■□□□■□□□□■■□□□□□□■□□□□
■■■□□□■■□□□□□□□□□□□■□□□■□□□□■■■■□■■□■■■■■■□□□□■■■■□■■□■□□□□□■□□□■■■■□■■□■■■■■■■■□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□■□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■■■■□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□■■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□
□□□□□□□□□□□□■■□□□□□□□□□□□□□■■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■■□■■□□□□■■■■□□□□□□□□□□□□□□■□■■■□□□□□■■■■□□□■■■□□■■■□□□■■■■□□□□□■■■□■□□□■■■■□□□□
■□□■□□■□□□□□□■□□□□□□□□□□□□□□■■□□□■□□□■□□□□■□□□■□□□□■□□□■□□□□■□□□■□□□■■□□□□□□■□□□□
■□□■□□■□□□□□□■□□□□■■■■■■■□□□■□□□□■□□□□□□□□■□□□□■□□□■□□□□□□□□■□□□■□□□□■□□□□□□■□□□□
■□□■□□■□□□□□□■□□□□□□□□□□□□□□■□□□□■□□□□■■■■■□□□□■□□■□□□□□■■■■■□□□■□□□□□□□□□□□■□□□□
■□□■□□■□□□□□□■□□□□□□□□□□□□□□■□□□□■□□□■□□□□■□□□□□■□■□□□□■□□□□■□□□□■■■■□□□□□□□■□□□□
■□□■□□■□□□□□□■□□□□□□□□□□□□□□■□□□□■□□■□□□□□■□□□□□□■□□□□■□□□□□■□□□□□□□□■□□□□□□■□□□□
■□□■□□■□□□□□□■□□□□□□□□□□□□□□■□□□□■□□■□□□□□■□□□□□□■□□□□■□□□□□■□□■□□□□□■□□□□□□■□□□□
■□□■□□■□□□□□□■□□□□□□□□□□□□□□■□□□□■□□■□□□□■■□□□□□■□□□□□■□□□□■■□□■■□□□□■□□□□□□■□□□□
■■□■■□■■□■■■■■■■■□□□□□□□□□□■■■□□■■■□□■■■■□■■□■□□■□□□□□□■■■■□■■□■□■■■■□□□■■■■■■■■□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□□□□□□□□□□□□□□□□□□□
■■□□□□□□□□□□□□□□□□■■□□□□□□□□□□■■□□□□□□□□□□□□□□□□□□□□□□□□□■■□□□□□□□□□□□□□□□□□□□□□□
□■□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□□□□□□□□□□□□□□□□■□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□■□□□□■□□□□□□□□□□□□■□■■■□□□□■■■■□□□□■■■□■■□□□□□■■■■□□□□■■■■□□□□■□□■□□■□□□□■■■■□□□
□■□□□■□□□□□□□□□□□□□■■□□□■□□□□□□■□□□□□□■■□□■□□□■□□□□■□□□□□□■□□□□■□□■□□■□□□■□□□□■□□
□■□□■□□□□■■■■■■■□□□■□□□□■□□□□□□■□□□□□□■□□□■□□□□□□□□■□□□□□□■□□□□■□□■□□■□□□□□□□□■□□
□■□■■□□□□□□□□□□□□□□■□□□□■□□□□□□■□□□□□□■□□□□□□□□■■■■■□□□□□□■□□□□■□□■□□■□□□□■■■■■□□
□■■□□■□□□□□□□□□□□□□■□□□□■□□□□□□■□□□□□□■□□□□□□□■□□□□■□□□□□□■□□□□■□■□■□■□□□■□□□□■□□
□■□□□■□□□□□□□□□□□□□■□□□□■□□□□□□■□□□□□□■□□□□□□■□□□□□■□□□□□□■□□□□■□■□■□■□□■□□□□□■□□
□■□□□□■□□□□□□□□□□□□■□□□□■□□□□□□■□□□□□□■□□□□□□■□□□□□■□□□□□□■□□□□□■□□□■□□□■□□□□□■□□
□■□□□□■□□□□□□□□□□□□■□□□□■□□□□□□■□□□□□□■□□□□□□■□□□□■■□□□□□□■□□□□□■□□□■□□□■□□□□■■□□
■■■□□□■■□□□□□□□□□□■■■□□■■■□■■■■■■■■□■■■■■■□□□□■■■■□■■□■■■■■■■■□□■□□□■□□□□■■■■□■■□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
 -->
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>Systan -しすたん-</title>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= favicon_link_tag('icon.ico') %>
<%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>
</head>
<body>


<!-- all -->
<div id="all">
<!-- page -->
<div id="page">


<!-- wrapper -->
<div class="wrapper">
<!-- header -->
<header id="header">


<!-- common-globalHeader -->
<div class="common-globalHeader">
	<div class="header-title">
		<p>Systan -しすたん- | みんなでつくるシス開用語辞書</p>
	</div>
	<div class="header-log">
		<% if user_signed_in? %>
		<%= link_to(image_tag("Systan_blue@2x.png", :alt => "しすたん", :class => "img01 animated"), words_path) %>
		<% else %>
		<%= link_to(image_tag("Systan_blue@2x.png", :alt => "しすたん", :class => "img01 animated"), root_path) %>
		<% end %>
	</div>
	<% if user_signed_in? %>
	<div class="btn">
		<%= link_to '登録', new_word_path, class: "icon-folder-plus pt01"%>
		<%= link_to 'ヘルプ', 'https://docbase.io/posts/299457/sharing/d619c74c-f4d9-4f75-995f-806001edf081', :target=>["_blank"], class: "icon-hipster pt02"%>
		<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "icon-exit pt03", data: {confirm: "ログアウトしますか?"} %>

	</div>
	<% end %>
</div>
<!-- //common-globalHeader -->


</header>
<!-- //header -->


<!-- main -->
<main id="main">

<% if user_signed_in? %>
<!-- common-something -->
<div class="common-someting">
	<div class="common-top">
		<p><%= current_user.username %>さん</p>
		<div class="pt01">
			<%= link_to '登録', new_word_path, class: "icon-folder-plus" %>
		</div>
		<div class="pt01">
			<%= link_to "一覧", words_path, method: :GET, class: "icon-books" %>
		</div>
		<div class="pt02">
			<%= link_to 'ヘルプ', 'https://docbase.io/posts/299457/sharing/d619c74c-f4d9-4f75-995f-806001edf081', :target=>["_blank"], class: "icon-hipster"%>
		</div>
	</div>
	<div class="common-bottom">
		<div>
			<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "icon-exit", data: {confirm: "ログアウトしますか?"} %>
		</div>
		<div>
			<%= link_to "退会する", user_path(current_user), method: :delete, class: "icon-user-minus", data: {confirm: "本当に退会しますか?"} %>
		</div>
	</div>
</div>
<!-- //common-something -->

<!-- common-mainLayout -->
<div class="common-mainLayout">
	<%= yield %>
</div>
<!-- //common-mainLayout -->
<% else %>
<!-- common-subLayout -->
<div class="common-subLayout">
	<%= yield %>
</div>
<!-- //common-subLayout -->
<% end %>
</main>
<!-- //main -->

</div>
<!-- //wrapper -->


<!-- footer -->
<footer>
	<p>© 2017 17systan_project</p>
</footer>
<!-- //footer -->


</div>
<!-- //page -->


</div>
<!-- //all -->


</body>
</html>
